name: Auto Update Jobs

on:
  schedule:
    - cron: "0 */6 * * *"   # हर 6 घंटे run होगा
  workflow_dispatch:        # manually run भी कर सकते हो

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install requests beautifulsoup4

    - name: Run Scraper
      run: python main.py

    - name: Pull latest to prevent push error
      run: |
        git pull --rebase || true

    - name: Commit & Push updated jobs.json
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add jobs.json
        git commit -m "Auto Update Jobs" || exit 0
        git push
