name: Auto Update Jobs

on:
  schedule:
    - cron: "0 */6 * * *"   # हर 6 घंटे में auto run
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write   # Important for auto commit

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install deps
      run: pip install requests beautifulsoup4

    - name: Run scraper
      run: python scraper.py

    - name: Commit changes
      run: |
        git config --global user.name "AutoUpdater"
        git config --global user.email "actions@github.com"
        git add jobs.json
        git commit -m "Auto update jobs [$(date '+%Y-%m-%d %H:%M')] " || echo "No changes"
        git push
