name: Auto Update Jobs

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with: {python-version: '3.10'}

    - name: Install Dependencies
      run: pip install requests beautifulsoup4 pdfminer.six

    - name: Step-1 Collect Links
      run: python scraper_fast.py

    - name: Step-2 Extract Details
      run: python scraper_detail.py

    - name: Commit & Push
      run: |
        git config --global user.name "actions"
        git config --global user.email "actions@github.com"
        git add .
        git commit -m "Auto update jobs" || echo "No changes"
        git push
