name: FAST AI UPDATE

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"   # हर 30 min auto update करे

jobs:
  fast:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install libs
      run: |
        pip install requests bs4

    - name: Run fast scraper
      run: python scraper_detail.py

    - name: Clean AI Memory
      run: python clean_memory.py

    - name: Push results safely
      run: |
        git config --global user.name "actions-user"
        git config --global user.email "actions@github.com"
        git add .
        git commit -m "Auto Updated Jobs & Memory" || echo "No changes"
        git pull --rebase --strategy-option theirs || echo "Skip pull"
        git push --force
