name: Auto Update Jobs

on:
  schedule:
    - cron: "0 */6 * * *"   # हर 6 घंटे में auto update
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install deps
        run: pip install requests beautifulsoup4

      - name: Run scraper
        run: python scraper.py

      - name: Force Commit
        run: |
          git config --global user.name "AutoUpdater"
          git config --global user.email "actions@github.com"
          git add jobs.json
          git commit -m "Auto update jobs $(date)" || echo "no changes"
          git push --force
