name: Auto Update Jobs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with: {python-version: '3.10'}

    - name: Install deps
      run: pip install requests beautifulsoup4

    - name: Run Only Link Scraper
      run: python scraper_fast.py

    - name: Commit & Push Links
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git add jobs.links.json
        git commit -m "Update Job Links" || echo "No changes"
        git push
