name: FAST AI UPDATE

on:
  workflow_dispatch:

jobs:
  fast:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install fast libs
      run: pip install requests beautifulsoup4

    - name: Run fast scraper
      run: python scraper_detail.py

    - name: Push results
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "AutoBot"
        git add .
        git commit -m "Fast AI Update" || true
        git push --force
