name: Auto Update Jobs

on:
  schedule:
    - cron: "0 */6 * * *"   # हर 6 घंटे में automatic
  workflow_dispatch:        # Manual Run option भी रहेगा

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install requests beautifulsoup4 pdfminer.six

    - name: Collect Links
      run: python scraper_fast.py

    - name: Extract Job Details
      run: python scraper_detail.py

    - name: Commit & Push
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add .
        git commit -m "Auto updated jobs" || echo "No changes to commit"
        git push
