name: Auto Update Jobs

on:
  schedule:
    - cron: "0 */6 * * *"      # हर 6 घंटे में रन
  workflow_dispatch:            # Manual Run button भी मिलेगा

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install requirements
        run: |
          pip install requests beautifulsoup4

      - name: Run scraper
        run: python scraper.py

      - name: Commit changes
        run: |
          git config --global user.name "ChandanBot"
          git config --global user.email "chandan@example.com"
          git add jobs.json
          git commit -m "Auto update jobs" || echo "No changes"
          git push
